.loginFrom{
    overflow: hidden;
    margin: 0 .5rem;
    ul{
        li{
            width: 100%;
            height: .8rem;
            line-height: .8rem;
            display: flex;
            flex-direction: row;
            margin-bottom: .3rem;
            input{
                width: 100%;
                height: .8rem;
                line-height: .8rem;
                color: white;
                border: .01rem solid #00a8ff;
                border-radius: .05rem;
                background-color: transparent !important;
                font-size: .24rem;
                text-indent: .2rem;
                display: block;
                padding-left: .05rem;
            }
            input::-webkit-input-placeholder{
                color:#00a8ff;
            }
            input::-moz-placeholder{   /* Mozilla Firefox 19+ */
                color:#00a8ff;
            }
            input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
                color:#00a8ff;
            }
            input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
                color:#00a8ff;
            }
        }
       
    }
    span.btn{
        background-color: #00a8ff;
        width: 100%;
        height: .8rem;
        text-align: center;
        line-height: .8rem;
        color: white;
        border: 0;
        border-radius: .05rem;
        margin-bottom: .2rem;
    }
}
/*所属工会*/
.unionTabUl{
    flex-direction: row;
    margin-bottom: .4rem;
    li{
        flex-grow: 1;;
        color: white;
        height: .6rem;
        line-height: .6rem;
        text-align: center;
        background-color: #0093fb;
        a{
            color: white;
        }
    }
    li:first-child{
        border-bottom-left-radius: .1rem;
        border-top-left-radius: .1rem;
    }
    li:last-child{
        border-top-right-radius: .1rem;
        border-bottom-right-radius: .1rem;
    }
    li.active{
        background-color: white;
        a{
            color: #333;
        }
    }
}
.unionUl{
    flex-direction: column;
    padding: .8rem .4rem;
    li{
        flex-grow: 1;
        margin-bottom: .3rem;
        span, label{
            display: inline-block;
            
        }
        label{
            width: 23%;
            text-align: right;
        }
        span{
            width: 70%;
            float: right;
            background-color: rgb(235, 235, 228);
        }
    }
}
/*我的工会*/
.unionsLists{
    margin-left: .6rem;
    margin-top: .2rem;
    img{
        vertical-align: sub;
        margin-right: .1rem;
    }
}
/*矿机网络*/
.minerNetWorkDiv{
    flex-direction: column;
    ul{
        border-bottom: .02rem solid #ccc;
        li{
            width: 33%;
            height: .8rem;
            line-height: .6rem;
            float: left;
            text-align: center;
        }
    }
}
/*个人中心*/
.personal_overview{
    background-color: #40B0FF;
    color: white;
    padding: .4rem .3rem .4rem 0;
    position: relative;
    .exitApp{
        font-size: .24rem;
        margin-left: .3rem;
    }
    .head_pic{
        width: 1.5rem;
        height: 1.5rem;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: .92rem;
        left: .3rem;
    }
    p{
        line-height: .6rem;
    }
    .sign_btn{
        display: inline-block;
        padding: .05rem .15rem;
        color: white;
        background-color: #ffa900;
        border-radius: .05rem; 
        margin-left: .3rem;
    }
}
.weui_grids{
    background-color: white !important;
    overflow: hidden;
    .weui_grid{
        position: relative;
        float: left;
        padding: .16rem .2rem;
        width: 33.333333%;
        box-sizing: border-box;
        .weui_grid_icon{
            width: .56rem;
            height: .56rem;
            margin: 0 auto;
        }
    }
    .weui_grid_label{
        text-align: center;
        color: #333;
    }
}
.weui_grid:after, .weui_grid:before {
    content: " ";
    position: absolute;
    // top: 0;
    color: #d9d9d9;
    transform-origin: 0 0; 
}
.weui_grid:before {
    width: .02rem;
    height: 200%;
    right: 0;
    top: 0;
    border-left: .01rem solid #d9d9d9;
    transform: scaleY(.5);
    -webkit-transform: scaleY(.5);
}
.weui_grid:after{
    left: 0;
    bottom: 0;
    width: 100%;
    height: .02rem;
    border-bottom: .02rem solid #d9d9d9;
    transform-origin: 0 100%;
    transform: scaleY(.5);
    -webkit-transform: scaleY(.5);
}
/*我的矿机*/
.myMiners{
    flex-direction: column;
    background-color: white;
    li{
        flex-grow: 1;
        border-bottom: .02rem solid #ccc;
        padding: .2rem;
        img{
            width: 20%;
            height: 1.4rem;
        }
        div{
            width: 62%;
            p{
                font-size: .24rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: .6rem;
            }
        }
        span.btn{
            width: 15%;
            height: .5rem;
            text-align: center;
            line-height: .5rem;
            font-size: .24rem;
            background-color: #0093fb;
            float: right;
            margin-top: .5rem;
            a{
                color: white;
            }
        }
    }
}
/*矿机運行*/
@-webkit-keyframes gogogo {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
.kj_running{
    width: 90%;
    margin-left: 5%;
    padding-top: .2rem;
    img.loading{
        width: 56%;
        position: absolute;
        top: 17%;
        left: 22%;
        z-index: 100;
        animation: gogogo 2s infinite linear;
    }
    .kj_text{
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        line-height: 2.5rem;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-left: -1.25rem;
        margin-top: -1.45rem;
        color: white;
        border-radius: 50%;
        background-color: rgba(0, 128, 9, 0.5);
    }
}
.kj_runningDetails{
    position: fixed;
    bottom: .6rem;
    p{
        height: .75rem;
        line-height: .75rem;
    }
}
/*矿机收益*/
.normal_table{
    border-collapse: collapse;
    width: 100%;
    thead{
        tr{
            th{
                font-size: .24rem;
                line-height: .8rem;
                border-bottom: .01rem solid rgb(221, 221, 221)
            }
        }
    }
    tr{
        td{
            font-size: .24rem;
            text-align: center;
            padding: .2rem;
            border-bottom: .01rem solid rgb(221, 221, 221)
        }
    }
}
/*提现钱包*/
.txWalletUl{
    flex-direction: column;
    width: 80%;
    margin: .2rem auto;
    li{
        flex-grow: 1;
        height: .6rem;
        line-height: .6rem;
        span{
            display: inline-block;
        }
        input{

        }
    }
}
/*上市交易*/
.ssDealUl{
    flex-direction: column;
    width: 80%;
    margin: .2rem auto;
    li{
        flex-grow: 1;
        height: .8rem;
        line-height: .8rem;
        input{
            border: none;
            height: .6rem;
            line-height: .6rem;
            border-radius: .05rem;
            margin: 0 .2rem;
        }
        span.btn{
            width: 100%;
            height: .6rem;
            line-height: .6rem;
            text-align: center;
            color: white;
            background-color: #0093fb;
            border-radius: .05rem;
        }
    }
}
/*帮助中心*/
@-webkit-keyframes accordionIn {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.9) rotateX(-60deg);
              transform: scale(0.9) rotateX(-60deg);
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0;
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes accordionIn {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.9) rotateX(-60deg);
              transform: scale(0.9) rotateX(-60deg);
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0;
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @-webkit-keyframes accordionOut {
    0% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(0.9) rotateX(-60deg);
              transform: scale(0.9) rotateX(-60deg);
    }
  }
  @keyframes accordionOut {
    0% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(0.9) rotateX(-60deg);
              transform: scale(0.9) rotateX(-60deg);
    }
  }
.accordion{
    margin-top: .3rem;
    dt{
        a{
            text-align: center;
            font-weight: 700;
            padding: .2rem;
            display: block;
            transition: background-color 0.5s ease-in-out;
            -webkit-transition: background-color 0.5s ease-in-out;
            border-bottom: .01rem solid #ddd;
            background-color: #fff;
            color: #06c1ae;
        }
        a::before{
            content: "+";
            font-size: .48rem;
            line-height: .3rem;
            float: left;
            transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
            -webkit-transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        }
        a.active::before{
            transform: rotate(-225deg);
            -webkit-transform: rotate(-225deg);
        }
    }
    .accordionItem.is-collapsed {
        max-height: 0;
    }
    .animateIn {
        animation: accordionIn .45s normal ease-in-out both 1;
        -webkit-animation: accordionIn .45s normal ease-in-out both 1;
    }
    dd.accordionItem{
        height: auto;
        overflow: hidden;
        transition: max-height 1s;
        // line-height: .5rem;
        // overflow: hidden;
        // height: 0;
        p{
            text-indent: .2rem;
            line-height: .6rem;
            padding: .1rem .25rem;
        }
    }   
}
/*密码管理*/
.pwdForm{
    ul{
        flex-direction: column;
        li{
            flex-grow: 1;
            height: .6rem;
            line-height: .6rem;
            margin-top: .2rem;
            label{
                display: inline-block;
                width: 30%;
                float: left;
            }
            input{
                width: 70%;
                height: .6rem;
                line-height: .6rem;
                border: none;
                border-radius: .1rem;
                text-indent: .2rem;
            }
        }
    }
    span.btn{
        width: 100%;
        height: .6rem;
        line-height: .6rem;
        margin-top: .2rem;
    }
}
/*矿机 矿机商城*/
.kjLists{
    background-color: white;
    flex-direction: column;
    li{
        flex-grow: 1;
        padding: .2rem;
        border-bottom: .01rem solid #ddd;
        display: flex;
        div{
            p{
                font-size: .24rem;
                line-height: .4rem;
                span{
                    display: inline-block;
                    width: .15rem;
                    height: .15rem;
                    border-radius: 50%;
                    background-color: #ffa900;
                    vertical-align: middle;
                    margin-right: .1rem;
                }
            }
            span.total{
                height: .2rem;
                line-height: .2rem;
                text-align: center;
                color: white;
                font-size: .24rem;
                background-color: #66cdcc;
                padding: 0 .2rem;
            }
            .btn{
                color: white;
                background-color: #ffa900;
                font-size: .26rem;
                border-radius: .1rem;
                padding: .1rem .2rem;
                margin-top: .3rem;
            }
        }
    }
}
/*任务大厅*/
.head_nav{
    flex-direction: row;
    border-bottom: .01rem solid #ddd;
    background-color: white;
    margin-bottom: .3rem;
    li{
        flex-grow: 1;
        text-align: center;
        height: .8rem;
        line-height: .8rem;
        a{
            display: inline-block;
            width: 100%;
            height: 100%;
            color: #333;
        }
    }
    li.active{
        a{
            color: #0093fb;
            border-bottom: .01rem solid #0093fb;
        }
    }
}
.carousel{
    background-color: white;
    text-align: center;
    span{
        display: inline-block;
        width: .15rem;
        height: .15rem;
        border: .01rem solid #0093fb;
       background-color: white;
        border-radius: 50%;
        margin-right: .05rem;
    }
    span.active{
        background-color: #0093fb;
    }
}
.taskNav{
    flex-direction: row;
    background-color: #fff;
    border-bottom: .01rem solid #ddd;
    margin-top: .2rem;
    li{
        flex-grow: 1;
        height: .8rem;
        line-height: .8rem;
        text-align: center;
        a{
            display: inline-block;
            width: 80%;
        }
    }
    li.active{
        a{
            color: #0093fb;
            border-bottom: .01rem solid #0093fb; 
        }
    }
}
.taskLists{
    flex-direction: column;
    margin-top: .1rem;
    li{
        flex-grow: 1;
        padding: .2rem .2rem;
        border-bottom: .01rem solid #ddd;
        background-color: #fff;
        position: relative;
        a{
            display: block;
            width: 100%;
            height: 100%;
            color: #333;
            overflow: hidden;
        }
        img{
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            margin-right: .2rem;
        }
        span.icon{
            display: inline-block;
            background-color: red;
            color: white;
            border-radius: .1rem;
            padding: .02rem .05rem;
            margin-right: .1rem;
        }
    }
}
.imgWrap{
    img{
        width: 4rem;
        height: 4rem;
    }
}
/*个人资料*/
.personalUl{
    flex-direction: column;
    padding: .4rem;
    li{
        flex-grow: 1;
        margin-bottom: .2rem;
        label{
            display: inline-block;
            font-size: .24rem;
            width: 26%;
        }
        input{
            width: 45%;
            height: .6rem;
            line-height: .6rem;
            text-indent: .2rem;
            border: none;
        }
        textarea{
            width: 60%;
            // float: left;
            // height: .6rem;
            // line-height: .6rem;
            text-indent: .2rem;
            border: none;
        }
        span.certify_submit, span.submit{
            width: 100%;
        }
    }
}
.file {
    width: 1.5rem;
    height: 1.5rem;
    line-height: .95rem;
    margin: .5rem auto 0;
    background-size: 100% 100%;
    position: relative;
    input[type='file']{
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
    }
    img{
        width: 1.5rem;
        max-height: 1.5rem;
    }
}
.upload_wrap{
    position: relative;
    width: 45%;
    display: inline-block;
    height: .6rem;
    input{
        opacity: 0;
        height: .6rem;
    }
    span{
        position: absolute;
        top: 0;
        left: 0;
        // z-index: 9;
    }
}
ul.lists{
    flex-direction: column;
    background-color: white;
    margin-top: .2rem;
    a{
        display: block;
        width: 100%;
        height: 100%;
    }
    li{
        border-top: .01rem solid #eef2f5;
        height: 1rem;
        line-height: 1rem;
        padding-left: .3rem;
        padding-right: .2rem;
        position: relative;
        a{
            color: #666;
        }
        .mark{
            width: .52rem;
            height: .19rem;
            font-size: .12rem;
            color: white;
            border-width: .01rem;
            border-radius: .2rem;
            margin-left: .1rem;
            padding: .05rem .1rem;
        }
        .mark.authenticated{
            background-color: #1dce3a;
        }
        .mark.unauthorized{
            background-color: #bfbfbf;
        }
        .go_arrow{
            display: inline-block;
            width: .16rem;
            height: .24rem;
            // background-image: url("../../img/icon_more.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            vertical-align: middle;
            margin-left: .1rem;
        }
        
    }
    li:last-child{
        border-bottom: .01rem solid #eef2f5;
    }
}

.myTasksNav{
    flex-direction: row;
    margin: .2rem 0;
    li{
        flex-grow: 1;
        height: .8rem;
        line-height: .8rem;
        text-align: center;
        background-color: white;
        a{
            display: block;
            color: #333;
            height: .6rem;
            line-height: .6rem;
            margin-top: .1rem;
            i{
                display: inline-block;
                width: .45rem;
                height: .45rem;
                background-repeat: no-repeat;
                vertical-align: middle;
                margin-right: .1rem;
            }
            i.icon_fashe{
                background-image: url(../img/icon_fshe.png);
            }
            i.icon_accept{
                background-image: url(../img/icon_accept.png);
            }
        }
    }
}
/*交易记录*/
.dealLists{
    flex-direction: column;
    width: 90%;
    border: .01rem solid #ddd;
    background-color: white;
    margin: .3rem auto;
    li{
        flex-grow: 1;
        font-size: .24rem;
        padding: .2rem .2rem;
        p{
            line-height: .4rem;
        }
    }
    li:not(:last-child){
        border-bottom: .01rem solid #ddd;
    }
}

/*任务详情*/
.taskDetail{
    background-color: white;
    overflow: hidden;
    margin-bottom: 5em;
    h3{
        background-color: #eaf7ff;
        line-height: 1rem;
    }
    span.icon{
        display: inline-block;
        background-color: red;
        color: white;
        border-radius: .1rem;
        padding: 0rem .05rem;
        margin-right: .1rem;
    }
    span.btn{
        width: 90%;
        text-align: center;
        color: white;
        background-color: #f39800;
        height: .6rem;
        line-height: .6rem;
        border-radius: .05rem;
        margin-top: 1rem;
    }
}
/*主页*/
.noticeUl{
    flex-direction: column;
    li{
      flex-grow: 1;
      background-color: white;
      border-bottom: .01rem solid #ddd;
      padding: .2rem .3rem;
      overflow: hidden;
      a{
          color: #333;
      }
    }
}
/*注册*/
.registerUl{
    flex-direction: column;
    li{
        flex-grow: 1;
        font-size: .24rem;
        height: .6rem;
        line-height: .6rem;
        margin-top: .3rem;
        label{
            display: inline-block;
            width: 30%;
            float: left;
        }
        input{
            width: 100%;
            height: .6rem;
            line-height: .6rem;
            font-size: .26rem;
            color: white;
            border: .01rem solid #00a8ff;
            border-radius: .05rem;
            background-color: transparent;
            text-indent: .2rem;
            
        }
        input::-webkit-input-placeholder{
            color:#00a8ff;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#00a8ff;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#00a8ff;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
            color:#00a8ff;
        }
    }
}
.forgetPwdrUl {
    flex-direction: column;
    li{
        flex-grow: 1;
        font-size: .24rem;
        height: .6rem;
        line-height: .6rem;
        margin-top: .3rem;
        label{
            display: inline-block;
            width: 30%;
            float: left;
        }
        input{
            width: 69%;
            height: .6rem;
            line-height: .6rem;
            font-size: .26rem;
            border: none;
            border-radius: .05rem;
            text-indent: .2rem;
        }
    }
}
/*推广*/
span.inviteLink{
    width: 3rem;
}
span.inviteId, span.inviteLink{
    float: left;
    font-size: .24rem;
    height: .6rem;
    line-height: .6rem;
    padding: 0 !important;
    // color: #333;
    border: .01rem solid #00a8ff;
    // background-color: rgba(7, 79, 155, .5);
    overflow: hidden;
    text-indent: .05rem;
    margin-right: .2rem;
}
.inviteOpt{
    width: 100%;
    height: 11.5rem;
    text-align: center;
    background: url(../img/invitebg.png);
    background-size: 100% 100%;
    div{
        width: 2rem;
        height: 2rem;
        position: absolute;
        bottom: -.1rem;
        left: 50%;
        margin-left: -1rem;
    }
    // img{
    //     width: 2rem;
    //     height: 2rem;
    // }
}
/*实名认证*/
#card_from{
    p{
        width: 4.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        color: #666;
        border: .01rem dashed #333;
        border-radius: .05rem;
        text-align: center;
        margin: .2rem auto 0;
        position: relative;
        input.card_pic{
            display: block;
            width: 4.5rem;
            height: 2.5rem;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            z-index: 2;
        }
        span{
            display: block;
            width: 100%;
            position: absolute;
            top: .05rem;
            z-index: 1;
        }
        img{
            max-width: 3rem;
            max-height: 1.5rem;
        }
    }
}
/* 全屏显示*/
.fullScreen{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}