@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
body{
    padding: 0;
    margin: 0;
    color: #333;
    background: #efeff4 none repeat scroll 0% 0%;
    padding-top: .8rem;
}
html, body{
 font-size: .2rem;
}
body, button, input, select, textarea {
    font: 14px/1.5 "San Francisco","Helvetica Neue","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft Yahei", "微软雅黑",Tahoma,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: "antialiased"
}
input[type="text"], input[type="password"], input[type="submit"], input[type="reset"], input[type="button"], button{
    -webkit-appearance: none;
}
input.input-txt{
    border: none;
    color: #101010
}
p, *{
    margin: 0;
    padding: 0;
}
a, input, *{
    -webkit-tap-highlight-color: white !important;
    -webkit-focus-ring-color: white !important;
    outline: none !important;
    text-decoration: none;
}
input, button, select, textarea{
    resize: none;
}
ul {
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.f_lt{
    float: left;
}
.f_rt{
    float: right;
}
.f_flex{
    display: flex;
    display: -webkit-flex;
}
.fz_30{
    font-size: .6rem;
}
.fc_white{
    color: white;
}
.fc_red{
    color: red;
}
header{
    width: 100%;
    height: .8rem;
    text-align: center;
    font-size: .28rem;
    background-color: #0093fb;
    color: white;
    line-height: .8rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    span{
        margin-top: .2rem;
        i{
            display: block;
            line-height: .8rem;
            color: white;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: .4rem;
        }
        i.arrow_l{
            margin-left: .2rem;
        }
        i.arrow_l::before{
            content: "\f053";
        }
        i.icon_user{
            margin-right: .2rem;
        }
        i.icon_user::before{
            content: "\f007";
        }
    }
}
.footer{
    width: 100%;
    height: 1rem;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    border-top: .02rem solid #dbdbdb;
    font-size: .24rem;
    color: #767676;
    ul{
        flex-direction: row;
        li{
            flex-grow: 1;
           
            a{
                display: inline-block;
                width: 100%;
                height: 100%;
                text-align: center;
                color: #767676;
            }
            i{
                display: block;
                width: .45rem;
                height: .45rem;
                background-repeat: no-repeat;
                margin: .1rem auto 0;
            }
            i.icon_main {
                background-image: url(../img/icon_main.png)
            }
            i.icon_task {
                background-image: url(../img/icon_task.png)
            }
            i.icon_jy {
                background-image: url(../img/icon_jy.png)
            }
            i.icon_kj {
                background-image: url(../img/icon_kj.png)
            }
            i.icon_account {
                background-image: url(../img/icon_account.png)
            }
        }
        li.active{
            i.icon_main {
                background-image: url(../img/icon_main_hot.png)
            }
            i.icon_task {
                background-image: url(../img/icon_task_hot.png)
            }
            i.icon_jy {
                background-image: url(../img/icon_jy_hot.png)
            }
            i.icon_kj {
                background-image: url(../img/icon_kj_hot.png)
            }
            i.icon_account {
                background-image: url(../img/icon_account_hot.png)
            }
        }
    }
}
span.btn{
    display: inline-block;
}
.btn_default{
    color: white;
    background-color: #999;
    height: .6rem;
    line-height: .6rem;
    border-radius: .05rem;
    padding: 0 .2rem;
}
.btn_primary{
    color: white;
    background-color: #0093fb;
    text-align: center;
    height: .6rem;
    line-height: .6rem;
    border-radius: .05rem;
    padding: 0 .2rem;
}
.btn_orange{
    color: white;
    background-color: #ffa900;
    text-align: center;
    height: .6rem;
    line-height: .6rem;
    border-radius: .05rem;
    padding: 0 .15rem;
}
.pb_100{
    padding-bottom: 2rem;
}
.warningDlg{
    width: 3rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    font-size: .24rem;
    border-radius: .1rem;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -.25rem;
    margin-left: -1.5rem;
    z-index: 10;
}
.hide{
    display: none;
}
/*支付密码弹窗*/
.dlgPayPwd{
    width: 4.5rem;
    background-color: white;
    border-radius: .05rem;
    padding: .3rem .5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -2.5rem;
    margin-left: -2.8rem;
    z-index: 4;
    .dlg_form{
        text-align: center;
       
        p{
            line-height: .6rem;
        }
        input{
            width: 100%;
            height: .6rem;
            line-height: .6rem;
            border: .01rem solid #ddd;
            margin-bottom: .2rem;
        }
        .fgtTradepass{
            text-align: right;
            a{
                color: red;
                font-size: .24rem;
            }
        }
    }
}
#shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3
}